# Rstudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
Rplots.pdf

# Profiles
wtjr_sdm.code-workspace

# Snakemake files
.snakemake/

# Snakemake logs
logs/snakemake_slurm/*.out
logs/slurm_logs/*
logs/slim/*

# Doc outputs
*.html
*.docx
docs/*_cache/*
docs/*_files/*

# Raw data that is too large or code-generated
raw_data/wc0.5/
raw_data/worldclim_projections/*
raw_data/rasterstack4cov.tif
raw_data/projections_25arcmin/
raw_data/worldclim_projections_2070s/
raw_data/worldclim_projections_2080s/

# Processed data that is too large
processed_data/bioclim_30arcsec_for_WTJR_SDM.tif
processed_data/conservation_rasters/*.tif
processed_data/pheno_predictors_millsetal2018.tif
processed_data/bc23_CMIP5_RCP85_2080s_5modavg.gr*

# Results that are too large
results/enmeval/enmeval_res_*.RData
results/sdm/sdm_rangemap_best_*.gr*
results/pheno/current_predicted_probWhite*.tif
results/slim_summaries/*_early.csv
results/slim_summaries/*_late.csv

# Individual Slim model results
# too many files to track 
results/slim_ind_sims/*

# Adobe illustrator files
# And downstream exports
figure_1*
figure_4*
*.ai

# Various preliminary or internal files, not for publication
not_for_publication/
results/figures/tmp/


# Other RCP data
processed_data/bc23_CMIP5_RCP26_2080s_5modavg.gr*
processed_data/bc23_CMIP5_RCP45_2080s_5modavg.gr*
processed_data/bc23_CMIP5_RCP60_2080s_5modavg.gr*
raw_data/worldclim_projections_2080s_other_RCPs/*

results/prelim_sampling_map.pdf
