# Rstudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store

# Snakemake files
.snakemake/

# Doc outputs
*.html



# Raw data that is too large or code-generated
raw_data/wc0.5/
raw_data/worldclim_projections/*

# Processed data that is too large
processed_data/bioclim_30arcsec_for_WTJR_SDM.tif

# Results that are too large
results/enmeval_res_*_thin1_*.RData
